.index-page {
    height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
    background-repeat: no-repeat;
    background-attachment: fixed;

    
    h1{
    font-family: 'Dubai', sans-serif;
    letter-spacing: 35px;
    font-size: 300px;
    color: white;
    text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width:100%;
    
    }
    nav{
    font-family: 'Dubai', sans-serif;
    font-size: 30px;
    color: white;
    
    left: 0;
    line-height: 450px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width:100%;
    
     a{
        text-decoration: none;
        color: white;
    }
    }
    footer{
        text-align: bottom;
    }
}
/*-------------HOME PAGE------------------*/
.home-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
    background-repeat: no-repeat;
    background-attachment: fixed;
     nav{
        .portfolio-button{
            background-image: linear-gradient(to bottom right, 
            black, 
            black, 
            brown, 
            gold);
            font-family: 'Dubai', sans-serif;
            font-size: 30px;
            border: white solid 5px;
            
            height:125px;
            width: 500px;
            right: 75px;
            line-height: 200px;
            margin-top: -200px;
            position: absolute;
            text-align: auto;
            top: 50%;

            
        }
        .egg-roll-button{
            background-image: linear-gradient(to bottom right, 
            black, 
            blue, 
            grey, 
            white);
            font-family: 'Dubai', sans-serif;
            font-size: 30px;
            border:white solid 5px;
            
            height:125px;
            width: 500px;
            right: 75px;
            line-height: 200px;
            margin-top: -25px;
            position: absolute;
            text-align: auto;
            top: 50%;

             
        }
        .about-button{
            background-image: linear-gradient(to bottom right, 
            purple, 
            grey, 
            brown, 
            gold);
            font-family: 'Dubai', sans-serif;
            font-size: 30px;
            border: white solid 5px;
            
            height:125px;
            width: 500px;
            right: 75px;
            line-height: 200px;
            margin-top: 150px;
            position: absolute;
            text-align: auto;
            top: 50%;

             
        }
    }
    a{
        text-decoration: none;
        color: white;
        display: table-cell;
        vertical-align: middle;
        
    }
    footer{
        color: white;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
/*------------------EGG ROLL PAGE------------------*/
.egg-roll-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
     background-repeat: no-repeat;
     background-attachment: fixed;
/*-------
     body {
        margin: 0;
        padding: 0;
    }
        .nav-list{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
        }

            .nav-list li {
                float: left;
            }

        .nav-list a{
            padding: 20px 16px;
            display: block;
        text-decoration: none;
        color: white;
    }
----------*/

body {
    margin: 0;
    padding: 0;
}

/* NAV BAR CONTAINER */
.nav-list {
    display: flex;                 /* modern layout */
    background-color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* EACH NAV ITEM */
.nav-list li {
    margin: 0;
    padding: 0;
}

/* LINKS */
.nav-list a {
    display: block;                /* makes the whole area clickable */
    padding: 20px 24px;            /* controls nav height */
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}

    h1{
        font-family: 'Dubai', sans-serif;
        font-size: 100px;
        color: white;
        text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 15%;
        width:100%;
    }
    .h2a{
        font-family: 'Dubai', sans-serif;
        color: rgb(201, 85, 85);
        text-shadow: 25px 25px 45px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 450px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 8%;
        width:100%;
    }
    .aunt-rosie{
        height: 500px;
        width: 500px;
        left: 0;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 25%;
        width:100%;
    }
    .h2b{
        font-family: 'Dubai', sans-serif;
        color: rgb(201, 85, 85);
        text-shadow: 25px 25px 45px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 450px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: -55%;
        width:100%;
    }
    .ingredients{
        height: 500px;
        width: 500px;
        left: 0;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 45%;
        width:100%;
    }
    .h2c{
        font-family: 'Dubai', sans-serif;
        color: rgb(201, 85, 85);
        text-shadow: 25px 25px 45px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 450px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: -65%;
        width:100%;
    }
    .instructions{
        height: 500px;
        width: 500px;
        left: 0;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 80%;
        width:100%;
    }
    footer{
        color: white;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
/*------------------ABOUT PAGE------------------*/
.about-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
     background-repeat: no-repeat;
     background-attachment: fixed;

     body {
    margin: 0;
    padding: 0;
}

/* NAV BAR CONTAINER */
.nav-list {
    display: flex;                 /* modern layout */
    background-color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* EACH NAV ITEM */
.nav-list li {
    margin: 0;
    padding: 0;
}

/* LINKS */
.nav-list a {
    display: block;                /* makes the whole area clickable */
    padding: 20px 24px;            /* controls nav height */
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}

     h1{
        font-family: 'Dubai', sans-serif;
        font-size: 100px;
        color: white;
        text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 15%;
        width:100%;
        }

        footer{
        color: white;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

/*------------------PORTFOLIO PAGE------------------*/
.portfolio-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
     background-repeat: no-repeat;
     background-attachment: fixed;

     body {
    margin: 0;
    padding: 0;
}

/* NAV BAR CONTAINER */
.nav-list {
    display: flex;                 /* modern layout */
    background-color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* EACH NAV ITEM */
.nav-list li {
    margin: 0;
    padding: 0;
}

/* LINKS */
.nav-list a {
    display: block;                /* makes the whole area clickable */
    padding: 20px 24px;            /* controls nav height */
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}

    h1{
        font-family: 'Dubai', sans-serif;
        font-size: 100px;
        color: white;
        text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 15%;
        width:100%;
    }
    footer{
        color: white;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}