.index-page {
    height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
    background-repeat: no-repeat;
    background-attachment: fixed;

    
    h1{
    font-family: 'Dubai', sans-serif;
    letter-spacing: 35px;
    font-size: 300px;
    color: white;
    text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width:100%;
    
    }
    nav{
    font-family: 'Dubai', sans-serif;
    font-size: 30px;
    color: white;
    
    left: 0;
    line-height: 450px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width:100%;
    
     a{
        text-decoration: none;
        color: white;
    }
    }

    .footer-container{     
        
    footer{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1000;
    }
}
/*-------------HOME PAGE------------------*/
.home-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
    background-repeat: no-repeat;
    background-attachment: fixed;
     nav{
        .portfolio-button{
            background-image: linear-gradient(to bottom right, 
            black, 
            black, 
            brown, 
            gold);
            font-family: 'Dubai', sans-serif;
            font-size: 30px;
            border: white solid 5px;
            
            height:125px;
            width: 500px;
            right: 75px;
            line-height: 200px;
            margin-top: -200px;
            position: absolute;
            text-align: auto;
            top: 50%;

            
        }
        .egg-roll-button{
            background-image: linear-gradient(to bottom right, 
            black, 
            blue, 
            grey, 
            white);
            font-family: 'Dubai', sans-serif;
            font-size: 30px;
            border:white solid 5px;
            
            height:125px;
            width: 500px;
            right: 75px;
            line-height: 200px;
            margin-top: -25px;
            position: absolute;
            text-align: auto;
            top: 50%;

             
        }
        .about-button{
            background-image: linear-gradient(to bottom right, 
            purple, 
            grey, 
            brown, 
            gold);
            font-family: 'Dubai', sans-serif;
            font-size: 30px;
            border: white solid 5px;
            
            height:125px;
            width: 500px;
            right: 75px;
            line-height: 200px;
            margin-top: 150px;
            position: absolute;
            text-align: auto;
            top: 50%;

             
        }
    }
    a{
        text-decoration: none;
        color: white;
        display: table-cell;
        vertical-align: middle;
        
    }
    .footer-container{     
        
    footer{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1000;
    }
}
/*------------------EGG ROLL PAGE------------------*/
.egg-roll-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
     background-repeat: no-repeat;
     background-attachment: fixed;

    body {
    margin: 0;
    padding: 0;
}

/* NAV BAR CONTAINER */
.nav-list {
    display: flex;                 /* modern layout */
    background-color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* EACH NAV ITEM */
.nav-list li {
    margin: 0;
    padding: 0;
}

/* LINKS */
.nav-list a {
    display: block;                /* makes the whole area clickable */
    padding: 20px 40px;            /* controls nav height ...second number spreads the padding horizontally */
    color: white;
    text-decoration: none;
    font-size: 20px;

}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}

   h1{
        font-family: 'Dubai', sans-serif;
        font-size: 100px;
        color: white;
        text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 15%;
        width:100%;
        }

      .aunt-rosie {
    background-color: bisque;
    width: 80%;                 /* responsive width */
    max-width: 800px;           /* optional */
    border: #a52525 dashed 5px;
    padding: 50px;
    margin: 50px auto;          /* centers the box */
    position: relative;         /* important: keeps it in flow */
      }


        
    
     .about{
        height: 500px;
        width: 500px;
        left: 0;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 25%;
        width:100%;
    }
    
    .h2a{
        font-family: 'Dubai', sans-serif;
        color: rgb(201, 85, 85);
        text-shadow: 25px 25px 45px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 450px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 8%;
        width:100%;
    }

   
        
    
    .h2b{
        font-family: 'Dubai', sans-serif;
        color: rgb(201, 85, 85);
        text-shadow: 25px 25px 45px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 450px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: -55%;
        width:100%;
    }
    .ingredients{
        height: 500px;
        width: 500px;
        left: 0;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 45%;
        width:100%;
    }
    .h2c{
        font-family: 'Dubai', sans-serif;
        color: rgb(201, 85, 85);
        text-shadow: 25px 25px 45px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 450px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: -65%;
        width:100%;
    }
    .instructions{
        height: 500px;
        width: 500px;
        left: 0;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 80%;
        width:100%;
    }

    .footer-container{     
        
    footer{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1000;
    }
}
/*------------------ABOUT PAGE------------------*/
.about-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
     background-repeat: no-repeat;
     background-attachment: fixed;

     body {
    margin: 0;
    padding: 0;
}

/* NAV BAR CONTAINER */
.nav-list {
    display: flex;                 /* modern layout */
    background-color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* EACH NAV ITEM */
.nav-list li {
    margin: 0;
    padding: 0;
}

/* LINKS */
.nav-list a {
    display: block;                /* makes the whole area clickable */
    padding: 20px 40px;            /* controls nav height ...second number spreads the padding horizontally */
    color: white;
    text-decoration: none;
    font-size: 20px;

}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}

     h1{
        font-family: 'Dubai', sans-serif;
        font-size: 100px;
        color: white;
        text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 15%;
        width:100%;
        }

    .about{
        background-color: bisque;
        width: 500px;
        border:#a52525 dashed 5px;
        padding: 50px; /*-- adds padding inside the box for better readability --*/
        margin: 200px;
        position: absolute;
        align-items: center;
        right: 350px;    
    }

    .links{
        background-color: bisque;
        width: 500px;
        border:#a52525 dashed 5px;
        margin-top: 450px;
        margin-bottom: 0px;
        margin-right: 250px;
        margin-left: 50px;
        position: absolute;
        align-items: center;
        right: 350px;    
    }

    .h2a{
        text-decoration: none;
        color: rgb(219, 66, 66);
    }
    ul a{
        text-decoration: none;
        color: rgb(179, 40, 40);
    }

}
     .footer-container{     
        
    footer{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1000;
    }
    

    


/*------------------PORTFOLIO PAGE------------------*/
.portfolio-page{
     height: 100%;
     margin: 0;
     background-image: radial-gradient(circle at bottom,
     rgb(0, 74, 117), 
     black);
     background-repeat: no-repeat;
     background-attachment: fixed;

        body {
    margin: 0;
    padding: 0;
}

/* NAV BAR CONTAINER */
.nav-list {
    display: flex;                 /* modern layout */
    background-color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* EACH NAV ITEM */
.nav-list li {
    margin: 0;
    padding: 0;
}

/* LINKS */
.nav-list a {
    display: block;                /* makes the whole area clickable */
    padding: 20px 40px;            /* controls nav height ...second number spreads the padding horizontally */
    color: white;
    text-decoration: none;
    font-size: 20px;

}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}
}


/* HOVER EFFECT */
.nav-list a:hover {
    background-color: #555;
}

    h1{
        font-family: 'Dubai', sans-serif;
        font-size: 100px;
        color: white;
        text-shadow: 50px 50px 90px rgba(22, 15, 15, 0.781);
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 15%;
        width:100%;
    }

    .footer-container{     
        
    footer{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1000;
    }
